extends layout.pug

block styleLink
  link(rel="stylesheet", href="/css/about-me.css")

block content
  section.journey-destination
    div Journey & Destination 
      p I got my first coding foundation in App Academy Bootcamp, where students engage in pair works, and create project along the way. Since the Bootcamp, I have built couple full stack apps. I'm currently growing into the web development market and continue to advance.
