extends layout.pug

block styleLink
  link(rel="stylesheet", href="/css/about-me.css")
  link(rel="stylesheet", href="")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet")

block content
  section.journey-destination
    div Journey & Destination 
      p Cultivating my initial coding proficiency at App Academy, I have honed my skills in utilizing Express, SQL, and React to proficiently create and customize fully compatible end-to-end  applications to meet client requirements. My journey expands from developing full stack applications to mastering core network configurations, all in pursuit of obtaining my CCNA certification.
