extends layout.pug

block styleLink
  link(rel="stylesheet", href="/css/about-me.css")
  link(rel="stylesheet", href="")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap" rel="stylesheet")

block content
  section.journey-destination
    div Journey & Destination 
      p I got my first coding foundation in App Academy Bootcamp, where students engage in pair works, and create project along the way. Since the Bootcamp, I have built couple full stack apps. I'm currently growing into the web development market and continue to advance.
