extends layout.pug

block styleLink
  link(rel="stylesheet", href="/about-me.css")

block content
  section.jouney-destination
    div Journey & Destination 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolores. Sapiente est sit a earum corrupti? Molestias similique quos harum dolorem ut non! Nihil a dolore architecto. Aspernatur, cumque nisi!
