extends layout.pug

block styleLink
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet")

block content 
  section
    .picture-badge
      .picture-centered
        div(class="lanyard No-1")
        div(class="lanyard No-2")
      .fullName-badge
        h3 Ahmed Badri
      .pic-frame
      .barcode-badge
        .barcode-container
          img(src="	https://cdn-icons-png.flaticon.com/512/860/860047.png", alt="")
        .badge-number
          p Badge ID: #314159
    .homepage-content
      .avi
        .push-pin 
          img(src="https://cdn-icons-png.flaticon.com/512/5405/5405650.png") 
        div.avi-container
      .card
        .star-icon
          .title-card 
            h4 IT IDENTIFICATION
          img(src="https://cdn-icons-png.flaticon.com/512/1066/1066850.png", alt="")
        .name-card
          span.data-label Name: 
          p.data-value Ahmed Badri
        .underline-card
        .bio-card 
          span.data-label Occupation: 
          p.data-value Software Developer
        .underline-card
        .links-card
          span.data-label Links:  
          a.data-value(href="http://www.github.com/a-badri"): img(src="https://cdn-icons-png.flaticon.com/128/2111/2111432.png", alt="")
          
          a.data-value(href="http://www.linkedIn.com"): img(src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png", alt="")
          
    
  
