extends layout.pug

block styleLink
  link(rel="stylesheet", href="/css/projects.css")

block content
  .projects-container
    .projects
      .project-1
        .project-background
        .project-details
          h6 Amania 
          p "Amania is e-commerce platform, for users to become sellers and earn income..."
        .project-link
          a(href="/about")
