.journey-destination {
  /* background-size: cover; */
  /* background-position: center; */
  height: 80vh;
  width: 60vw;
  background: url("https://pics.freeicons.io/uploads/icons/png/698218881610058223-512.png");
  /* background: red; */
}
