@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.journey-destination {
  height: 60vh;
  width: 30vw;
  margin: 5% auto;
}

.journey-destination div {
  width: 100%;
  height: 100%;
  justify-self: center;
  background-image: url("	https://cdn-icons-png.flaticon.com/512/2661/2661465.png ");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
  text-align: center;
  padding-top: 10%;
  font-size: large;
}

.journey-destination p {
  max-width: 70%;
  padding-right: 5%;
  padding-left: 1%;
  text-align: left;
}
